* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

/* https://codepen.io/lewismcarey/pen/GJZVoG */
@keyframes ticker {
	0% {
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
	100% {
		transform: translate3d(-100%, 0, 0);
	}
}

.ticker-wrap {
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	padding-top: 10px;
	padding-left: 100%;
	box-sizing: content-box;
}

.ticker {
	display: inline-block;
	white-space: nowrap;
	padding-right: 100%;
	box-sizing: content-box;
	animation-name: ticker;
	animation-iteration-count: infinite;
	animation-duration: 600s;
	animation-timing-function: linear;
}

.ticker__item {
	display: inline-block;
	padding: 0 30px;
}

#top-text {
	display: flex;
	padding: 0px 6px;
	overflow: hidden;
	justify-content: flex-end;
}

.right.text span {
	padding: 0 10px;
}
.right.text span:last-child {
	padding-right: 0px;
}

#camera-box {
	position: fixed;
	width: 423px;
	height: 315px;
	right: 30px;
	bottom: 50px;
}

#screen-box {
	position: fixed;
	width: 423px;
	height: 240px;
	right: 30px;
	top: 50px;
}

.bottom-text {
	position: fixed;
	bottom: 13px;
	white-space: nowrap;
	padding-left: 270px;
}

.bottom-text .ticker__item {
	padding: 0 6px;
}

.text {
	color: hsl(0, 0%, 100%);
	font-size: 22px;
	text-shadow: 2px 2px black;
}

.drop-shadow {
	/* 	background-color: #ff0000bb;
 */
	box-shadow: 0px 5px 50px 0px #000000aa;
}

/*
	start from left, remove "that padding" (left?)
	write js to remove padding after first animation completes
*/
