* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

/* https://codepen.io/lewismcarey/pen/GJZVoG */
@keyframes ticker {
	0% {
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
	100% {
		transform: translate3d(-50%, 0, 0);
	}
}

@keyframes three-ticker {
	0% {
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
	100% {
		transform: translate3d(-33.3%, 0, 0);
	}
}

.ticker-wrap {
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	padding-top: 10px;
	padding-left: 0%;
	box-sizing: content-box;
}

.ticker {
	display: inline-block;
	white-space: nowrap;
	padding-right: 0%;
	box-sizing: content-box;
	animation-name: ticker;
	animation-iteration-count: infinite;
	animation-duration: 60s;
	animation-timing-function: linear;
}

.ticker-wrap-music {
	position: fixed;
	bottom: 12px;
	right: 480px;
	overflow: hidden;
	box-sizing: content-box;
	width: 855px;
	mask-image: linear-gradient(
		to left,
		rgba(0, 0, 0, 0),
		rgb(0, 0, 0) 5%,
		rgb(0, 0, 0) 95%,
		rgba(0, 0, 0, 0)
	);
}

.ticker-music {
	display: inline-block;
	white-space: nowrap;
	box-sizing: content-box;
	animation-name: three-ticker;
	animation-iteration-count: infinite;
	animation-duration: 15s;
	animation-timing-function: linear;
}

.ticker__item {
	display: inline-block;
	padding: 0 30px;
}

.ticker-music div {
	padding: 0 5px;
}

#top-text {
	display: flex;
	padding: 0px 6px;
	overflow: hidden;
	justify-content: flex-end;
}

.right.text span {
	padding: 0 10px;
}
.right.text span:last-child {
	padding-right: 0px;
}

#camera-box {
	position: fixed;
	width: 423px;
	height: 312px;
	right: 30px;
	bottom: 50px;
}

#screen-box {
	position: fixed;
	width: 423px;
	height: 237px;
	right: 30px;
	top: 50px;
}

#terminal {
	position: fixed;
	width: 423px;
	height: 722px;
	right: 30px;
	top: 316px;
}

#vscode {
	position: fixed;
	width: 848px;
	bottom: 50px;
	right: 485px;
	top: 50px;
}

#browser {
	position: fixed;
	width: 1165px;
	bottom: 50px;
	left: 30px;
	top: 50px;
}

#single {
	position: fixed;
	left: 30px;
	right: 30px;
	top: 50px;
	bottom: 50px;
}

/* .current-status {
	position: fixed;
	bottom: 12px;
	white-space: nowrap;
	width: 435px;
	right: 50px;
} */

.ticker-wrap-current-status {
	position: fixed;
	bottom: 12px;
	right: 30px;
	overflow: hidden;
	box-sizing: content-box;
	width: 423px;
	mask-image: linear-gradient(
		to left,
		rgba(0, 0, 0, 0),
		rgb(0, 0, 0) 10%,
		rgb(0, 0, 0) 90%,
		rgba(0, 0, 0, 0)
	);
}

.ticker-current-status {
	display: inline-block;
	white-space: nowrap;
	box-sizing: content-box;
	animation-name: ticker;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	animation-timing-function: linear;
}

.ticker-current-status > * {
	padding: 0 4px;
}

.bottom-text {
	position: fixed;
	bottom: 12px;
	white-space: nowrap;
	left: 300px;
	overflow: hidden;
	right: 1370px;
	mask-image: linear-gradient(to right, rgb(0, 0, 0) 95%, rgba(0, 0, 0, 0));
}

.bottom-text .ticker__item {
	padding: 0 6px;
}

.text {
	color: hsl(0, 0%, 100%);
	font-size: 22px;
	text-shadow: 1px 1px 0px black, -1px -1px black, 1px -1px black,
		-1px 1px black;
}

.drop-shadow {
	/* 	background-color: #ff0000bb;
 */
	box-shadow: 0px 10px 30px 0px #000000aa;
}

/*
	start from left, remove "that padding" (left?)
	write js to remove padding after first animation completes
*/
