* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

/* https://codepen.io/lewismcarey/pen/GJZVoG */
@keyframes ticker {
	0% {
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
	100% {
		transform: translate3d(-50%, 0, 0);
	}
}

@keyframes ticker-reverse {
	0% {
		transform: translateX(-50%);
		visibility: visible;
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes three-ticker {
	0% {
		transform: translateX(0);
		visibility: visible;
	}
	100% {
		transform: translateX(-33.3%);
	}
}

.ticker-wrap {
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	padding-top: 8px;
	height: 100px;
	padding-left: 0%;
	box-sizing: content-box;
}

.ticker {
	display: inline-block;
	white-space: nowrap;
	padding-right: 0%;
	box-sizing: content-box;
	animation-name: ticker;
	animation-iteration-count: infinite;
	animation-duration: 70s;
	animation-timing-function: linear;
}

.ticker-wrap-bottom {
	position: fixed;
	width: 100%;
	overflow: hidden;
	padding-top: 10px;
	padding-left: 0%;
	box-sizing: content-box;

	bottom: 0px;
	padding-bottom: 8px;
}

.ticker-bottom {
	display: inline-block;
	white-space: nowrap;
	padding-right: 0%;
	box-sizing: content-box;
	animation-name: ticker-reverse;
	animation-iteration-count: infinite;
	animation-duration: 70s;
	animation-timing-function: linear;
}

.ticker-wrap-music {
	position: fixed;
	bottom: 12px;
	right: 480px;
	overflow: hidden;
	box-sizing: content-box;
	width: 855px;
	mask-image: linear-gradient(
		to left,
		rgba(0, 0, 0, 0),
		rgb(0, 0, 0) 5%,
		rgb(0, 0, 0) 95%,
		rgba(0, 0, 0, 0)
	);
}

.ticker-music {
	display: inline-block;
	white-space: nowrap;
	box-sizing: content-box;
	animation-name: ticker;
	animation-iteration-count: infinite;
	animation-duration: 15s;
	animation-timing-function: linear;
}

.ticker__item {
	display: inline-block;
	position: relative;
	padding: 0 30px;
}

.ticker-music div {
	padding: 0 5px;
}

#top-text {
	display: flex;
	padding: 0px 6px;
	overflow: hidden;
	justify-content: flex-end;
}

.right.text span {
	padding: 0 10px;
}
.right.text span:last-child {
	padding-right: 0px;
}

.ticker-wrap-current-status {
	position: fixed;
	bottom: 12px;
	right: 30px;
	overflow: hidden;
	box-sizing: content-box;
	width: 423px;
	mask-image: linear-gradient(
		to left,
		rgba(0, 0, 0, 0),
		rgb(0, 0, 0) 10%,
		rgb(0, 0, 0) 90%,
		rgba(0, 0, 0, 0)
	);
}

.ticker-current-status {
	display: inline-block;
	white-space: nowrap;
	box-sizing: content-box;
	animation-name: three-ticker;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	animation-timing-function: linear;
}

.ticker-current-status > * {
	padding: 0 4px;
}

.ticker__item {
	padding: 0 6px;
	position: relative;
}

.text {
	color: hsl(0, 0%, 100%);
	font-size: 16px;
}

.ticker-item {
	position: relative;
	top: 0px;
	left: 0px;
}

.ticker-item:after {
	content: attr(data-content);
	position: absolute;
	top: 1px;
	left: 1px;
	z-index: -999;
	color: black;
}

.editor {
	position: fixed;
	width: 1165px;
	bottom: 50px;
	left: 30px;
	top: 50px;
	padding: 10px;
	background-color: #fafafa;
}

.editor-button {
	font-size: 1em;
	position: fixed;
	right: 40px;
	bottom: 60px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	z-index: 1;
}

input {
	padding: 0.25em;
	border: 1px solid grey;
}
